div { background-color: red; color: white; font-size: 32px; font-weight: bold; padding: 20px; }

p {background-color:green; color:white; font-size: 18px; padding: 10px;}

button {background-color: orange; font-size: 18px; padding: 10px; cursor: pointer;}